{{layout "main"}}
{{title (i18n "simple-auth.page.register.title") " | " (i18n "app.name")}}
{{css "css/login.css"}}

{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "simple-auth.page.register.alert.heading"}}</strong>
            {{errorMessage}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
    <div class="page-content-wrapper">
        <div class="container">
            <div class="signup-form-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="brand-container add-margin-bottom-5x">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-9 col-lg-9 center-block float-remove-sm
                                float-remove-xs pull-right-md pull-right-lg">
                                    <img class="img-responsive brand-spacer" src="{{public "images/logo-white.png"}}" />
                                </div>
                            </div>
                            <h2 class="text-center-sm text-center-xs text-center-md text-right">{{i18n "app.name"}}</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 login">
                        <div class="data-container">
                            <form class="form-horizontal" method="post">
                                <h3>{{i18n "simple-auth.page.register.form.heading"}}</h3>
                                <p>{{i18n "simple-auth.page.register.form.sub-heading"}}</p>
                                <div class="form-group add-margin-top-5x">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="username" class="control-label">
                                            {{i18n "simple-auth.page.register.form.username"}}
                                        </label>
                                        <input type="text" name="username" id="username" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="password" class="control-label">
                                            {{i18n "simple-auth.page.register.form.password"}}
                                        </label>
                                        <input type="password" name="password" id="password" class="form-control"
                                               autocomplete="off"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="confirm-password" class="control-label">
                                            {{i18n "simple-auth.page.register.form.password-confirm"}}
                                        </label>
                                        <input type="password" name="confirm-password" id="confirm-password"
                                               class="form-control" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="first-name" class="control-label">
                                            {{i18n "simple-auth.page.register.form.first-name"}}
                                        </label>
                                        <input type="text" name="first-name" id="first-name" class="form-control" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="last-name" class="control-label">
                                            {{i18n "simple-auth.page.register.form.last-name"}}
                                        </label>
                                        <input type="text" name="last-name" id="last-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="email" class="control-label">
                                            {{i18n "simple-auth.page.register.form.email"}}
                                        </label>
                                        <input type="email" name="email" id="email" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="security-question" class="control-label">
                                            {{i18n "simple-auth.page.register.form.sec-qust"}}
                                        </label>
                                        <select name="security-question" id="security-question" class="form-control">
                                            <option>What is your favourite pet's name?</option>
                                            <option>What is the color of your pet?</option>
                                            <option>What is the type of your pet?</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="security-answer" class="control-label">
                                            {{i18n "simple-auth.page.register.form.sec-ans"}}
                                        </label>
                                        <input type="text" name="security-answer" id="security-answer"
                                               class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group add-margin-top-5x">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <button type="submit" class="btn btn-default btn-primary add-margin-right-2x">
                                            {{i18n "simple-auth.page.register.form.btn.submit"}}
                                        </button>
                                        <button type="button"
                                                class="btn btn-default btn-secondary hidden-xs hidden-sm cancel-btn-font">
                                            <a href="{{@contextPath}}/simple-auth/login">
                                                {{i18n "simple-auth.page.register.form.btn.cancel"}}
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}