{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "Capitalize | String Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.ui.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>capitalize</b> Helper</h3>
    <hr />
    <p>Capitalizes all the whitespace separated words in a String.</p>

    <div>
        <figure class="highlight">
            <pre class="code lang-handlebars">\{{capitalize &lt;value&gt; [fully=false]}}</pre>
        </figure>
        <p><b>value</b> - string to capitalize</p>
        <p><b>fully</b> - optional boolean to identify whether to fully capitalize the string or not</p>
    </div>

    <div style="margin-top: 40px">
        <h4><b>Example</b></h4>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                \{{capitalize value}}
            &lt;/div&gt;</pre>
        </figure>
        <p>when used with this context:</p>
        <figure class="highlight">
            <pre class="code lang-javascript">
            function onRequest(env) {
                return {
                    value: "my first post"
                };
            }</pre>
        </figure>
        <p>will result in:</p>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                {{capitalize value}}
            &lt;/div&gt;</pre>
        </figure>
    </div>
{{/fillZone}}
