{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "String Helpers | " @config.appName}}

{{#fillZone "content"}}
    <h3>String Helpers</h3>
    <hr />
    <ul>
        <li><a href="{{@contextPath}}/helpers/string-helpers/abbreviate">abbreviate</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/capitalize">capitalize</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/capitalize-first">capitalizeFirst</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/center">center</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/cut">cut</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/date-format">dateFormat</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/default-if-empty">defaultIfEmpty</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/join">join</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/ljust">ljust</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/lower">lower</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/now">now</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/number-format">numberFormat</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/replace">replace</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/rjust">rjust</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/slugify">slugify</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/string-format">stringFormat</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/strip-tags">stripTags</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/substring">substring</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/upper">upper</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/word-wrap">wordWrap</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/yesno">yesno</a></li>
    </ul>
{{/fillZone}}
