<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{css "css/bootstrap.min.css"}}
    {{css "css/theme.css" }}
    <title>WSO2 Template</title>

    {{placeholder 'headJs'}}
    {{placeholder 'css'}}
</head>
<body>

<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="{{@app.context}}/">
                <img src="{{public "images/logo.png"}}" class="logo" />
                <h1>Unified UI Template App</h1>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{@app.context}}/basicauth/login">Login</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="page-content-wrapper">
    <div class="container-fluid body-wrapper">
        {{defineZone "content"}}
    </div>
</div>
{{placeholder "js"}}
</body>
</html>
