<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png" />
    {{/placeholder}}
    <title>{{#placeholder "title"}}UUF Base{{/placeholder}}</title>
    {{placeholder "css"}}
    {{placeholder "headJs"}}
    {{placeholder "headOther"}}
</head>

<body>
<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="{{@app.context}}/">
                <img src="{{public "images/logo.png"}}" class="logo" />
                <h1>{{@app.config.appName}}</h1>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{@app.context}}/basicauth/login">Login</a></li>
            </ul>
        </div>
    </div>
</header>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- start of menu -->
            {{#menu "main"}}
                <ul class="nav navbar-nav">
                    {{~#each this}}
                        <!-- end menu item -->
                        {{~#if link}}
                            <li><a href="{{@app.context}}/{{link}}"><i class="{{icon}}"></i>{{@key}}</a></li>
                        {{~else}}
                        <!-- sub menu item -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">{{@key}} <span class="caret">
                                        </span></a>
                                <ul class="dropdown-menu">
                                    {{~#each this}}
                                        {{~#if link}}
                                            <li>
                                                <a href="{{@app.context}}/{{link}}"><i class="{{icon}}"></i> {{@key}}
                                                </a>
                                            </li>
                                        {{~else}}
                                            <li class="dropdown-submenu">
                                                <a href="#">{{@key}}</a>
                                                <ul class="dropdown-menu">
                                                    {{~#each this}}
                                                        <li><a href="{{@app.context}}/{{link}}"> {{@key}}</a></li>
                                                        <li><a href="{{@app.context}}/{{link}}"> {{@key}}</a></li>
                                                    {{~/each}}
                                                </ul>
                                            </li>
                                        {{~/if}}
                                    {{~/each}}
                                </ul>
                            </li>
                        {{~/if}}
                    {{~/each}}
                </ul>
            {{/menu}}
            <!-- end of menu -->
        </div>
    </div>
</nav>

<div class="page-content-wrapper">
    <div class="container-fluid body-wrapper">
        {{defineZone "content"}}
    </div>
</div>
<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        {{defineZone "footer"}}
    </div>
</footer>
<!-- /footer -->
{{placeholder "js"}}
</body>
</html>
