{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "if | Block Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.ui.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>if</b> Helper</h3>
    <hr />
    <p>You can use the 'if' helper to conditionally render a block.</p>
    <p>If its argument returns false, undefined, null, "", 0, or [], Handlebars will not render the block.</p>

    <h4><b>Example</b></h4>
    <figure class="highlight">
        <pre class="code lang-handlebars">
        &lt;div class="entry"&gt;
            \{{#if author}}
                \{{firstName}} \{{lastName}}
            \{{/if}}
        &lt;/div&gt;</pre>
    </figure>
    <p>when used with this context:</p>
    <figure class="highlight">
        <pre class="code lang-javascript">
        function onGet(env) {
            return {
                "author": {
                    "firstName": "John",
                    "lastName": "Samuel"
                }
            };
        }</pre>
    </figure>
    <p>will result in:</p>
    <figure class="highlight">
        <pre class="code lang-html">
        &lt;div class="entry"&gt;
            John Samuel
        &lt;/div&gt;</pre>
    </figure>

    output:
    <div class="output">
        <div class="entry">
            {{#if author}}
                {{author.firstName}} {{author.lastName}}
            {{/if}}
        </div>
    </div>

    <p>When used with an empty ({}) context, author will be undefined, resulting in:</p>
    <figure class="highlight">
        <pre class="code lang-handlebars">
        &lt;div class="entry"&gt;
            {{#if someAuthor}}
                {{someAuthor.firstName}} {{someAuthor.lastName}}
            {{/if}}
        &lt;/div&gt;</pre>
    </figure>

    <p>When using a block expression, you can specify a template section to run if the expression returns a falsy value.
       The section, marked by \{{else}} is called an "else section".
    </p>

    <h4><b>Example</b></h4>
    <figure class="highlight">
        <pre class="code lang-handlebars">
        &lt;div class="entry"&gt;
            \{{#if author}}
                &lt;h3&gt;\{{firstName}} \{{lastName}}&lt;/h3&gt;
            \{{else}}
                &lt;h1&gt;Unknown Author&lt;/h1&gt;
            \{{/if}}
        &lt;/div&gt;</pre>
    </figure>

    <p>when used with this context:</p>
    <figure class="highlight">
        <pre class="code lang-javascript">
        function onGet(env) {
            return {
                "bookAuthor": false
            };
        }</pre>
    </figure>

    <p>will result in:</p>
    <figure class="highlight">
        <pre class="code lang-html">
        &lt;div class="entry"&gt;
            Unknown Author
        &lt;/div&gt;</pre>
    </figure>

    output:
    <div class="output">
        <div class="entry">
            {{#if bookAuthor}}
                {{bookAuthor.firstName}} {{bookAuthor.lastName}}
            {{else}}
                Unknown Author
            {{/if}}
        </div>
    </div>
{{/fillZone}}
