{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "Block Helpers | " @config.appName}}

{{#fillZone "content"}}
    <h3>Block Helpers</h3>
    <hr />
    <ul>
        <li><a href="{{@contextPath}}/helpers/block-helpers/each">each</a></li>
        <li><a href="{{@contextPath}}/helpers/block-helpers/if">if</a></li>
        <li><a href="{{@contextPath}}/helpers/block-helpers/unless">unless</a></li>
        <li><a href="{{@contextPath}}/helpers/block-helpers/with">with</a></li>
    </ul>
{{/fillZone}}
