{{layout "org.wso2.uuf.base.main"}}
{{#fillZone "content"}}
    <h3>UUF Feature Demos.</h3>
    <hr />
    <p>UUF provides a rich set of features to make the life easier of the web app developer. Following demos covers most
       of them.</p>
    <ul>
        <li><a href="{{@app.context}}/call-osgi">Call a OSGi Service</a></li>
        <li><a href="{{@app.context}}/http-form">Http Form POST</a></li>
        <li><a href="{{@app.context}}/send-error">Send HTTP Error</a></li>
        <li><a href="{{@app.context}}/send-redirect">Send HTTP Redirect</a></li>
        <li><a href="{{@app.context}}/session">Session</a></li>
        <li><a href="{{@app.context}}/theme">Theme</a></li>
        <li><a href="{{@app.context}}/menu">Menu</a></li>
    </ul>
{{/fillZone}}