{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Capitalize-First | String Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>capitalizeFirst</b> Helper</h3>
    <hr />
    <p>Capitalizes the first character of a sentence.</p>

    <div>
        <figure class="highlight">
            <pre class="code lang-handlebars">\{{capitalizeFirst value}}</pre>
            <p><b>value</b> - string to capitalize</p>
        </figure>
    </div>

    <div style="margin-top: 40px">
        <h4><b>Example</b></h4>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                \{{capitalizeFirst value}}
            &lt;/div&gt;</pre>
        </figure>
        <p>when used with this context:</p>
        <figure class="highlight">
            <pre class="code lang-javascript">
            function onRequest(env) {
                return {
                    value: "handlebars.java"
                };
            }</pre>
        </figure>
        <p>will result in:</p>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                {{capitalizeFirst value}}
            &lt;/div&gt;</pre>
        </figure>
    </div>
{{/fillZone}}
