{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Cut | String Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>cut</b> Helper</h3>
    <hr />
    <p>Remove all values of arg from the given string.</p>

    <div>
        <figure class="highlight">
            <pre class="code lang-handlebars">\{{cut value [" "]}}</pre>
        </figure>
        <p><b>value</b> - string to be processed</p>
        <p><b>arg</b> - string which should be removed from the value string</p>
    </div>

    <div style="margin-top: 40px">
        <h4><b>Example</b></h4>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                \{{cut value}}
            &lt;/div&gt;</pre>
        </figure>
        <p>when used with this context:</p>
        <figure class="highlight">
            <pre class="code lang-json">
                {
                    value: "String with spaces"
                }</pre>
        </figure>
        <p>will result in:</p>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                {{cut value}}
            &lt;/div&gt;</pre>
        </figure>
    </div>
{{/fillZone}}

