{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "String Helpers | " @config.appName}}
{{#fillZone "content"}}
    <h3>String Helpers : </h3>
    <hr />
    <ul>
        <li><a href="{{@contextPath}}/helpers/string-helpers/capitalize-first">Capitalize First</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/center">Center</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/cut">Cut</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/default-if-empty">Default If Empty</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/join">Join</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/ljust">Left Align</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/rjust">Right Align</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/substring">Substring</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/lower">Lower</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/upper">Upper</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/slugify">Slugify</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/string-format">String Format</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/strip-tags">Strip Tags</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/capitalize">Capitalize</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/abbreviate">Abbreviate</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/word-wrap">Word Wrap</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/replace">Replace</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/yesno">Yes No</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/date-format">Date Format</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/number-format">Number Format</a></li>
        <li><a href="{{@contextPath}}/helpers/string-helpers/now">Now</a></li>
    </ul>
{{/fillZone}}