{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Slugify | String Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>slugify</b> Helper</h3>
    <hr />
    <p>Converts a value to lowercase, remove non-word characters (alphanumerics and underscores) and convert
       spaces to hyphens. Also strip leading and trailing whitespace.</p>

    <div>
        <figure class="highlight">
            <pre class="code lang-handlebars">\{{slugify &lt;value&gt;}}</pre>
        </figure>
        <p><b>value</b> - string to be processed</p>
    </div>

    <div style="margin-top: 40px">
        <h4><b>Example</b></h4>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                \{{slugify value}}
            &lt;/div&gt;</pre>
        </figure>
        <p>when used with this context:</p>
        <figure class="highlight">
            <pre class="code lang-json">
                {
                    value: "Joel is a slug"
                }</pre>
        </figure>
        <p>will result in:</p>
        <figure class="highlight">
            <pre class="code lang-handlebars">
            &lt;div&gt;
                {{slugify value}}
            &lt;/div&gt;</pre>
        </figure>
    </div>
{{/fillZone}}
