{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "String Format | String Helper Sample | " @config.appName}}

{{#fillZone "content"}}
    <h3><b>stringFormat</b> Helper</h3>
    <hr />
    <p>Formats the variable according to a string formatting specifier.</p>

    <div>
        <pre>\{{stringFormat value &lt;params&gt;...}}</pre>
        <p><b>value</b> - formatting specifier</p>
        <p><b>params</b> - list of parameters</p>
    </div>

    <div style="margin-top: 40px">
        <h4><b>Example</b></h4>
        <pre>
            &lt;div&gt;
                \{{stringFormat value param}}
            &lt;/div&gt;</pre>
        <p>when used with this context:</p>
        <pre>
            {
                value: "Hello %s",
                param: "handlebars.java"
            }</pre>
        <p>will result in:</p>
        <pre>
            &lt;div&gt;
                {{stringFormat value param}}
            &lt;/div&gt;</pre>
    </div>
{{/fillZone}}
