{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <h3>UUF Feature Demos.</h3>
    <hr />
    <p>UUF provides a rich set of features to make the life easier of the web app developer. Following demos covers most
       of them.</p>
    <ul>
        <li><a href="{{@contextPath}}/osgi/call-class">Call a Java class exported from an OSGi bundle</a></li>
        <li><a href="{{@contextPath}}/osgi/call-service">Call an OSGi Service</a></li>
        <li><a href="{{@contextPath}}/include-module">Include a module</a></li>
        <li><a href="{{@contextPath}}/http-form">Http Form POST</a></li>
        <li><a href="{{@contextPath}}/send-error">Send HTTP Error</a></li>
        <li><a href="{{@contextPath}}/send-redirect">Send HTTP Redirect</a></li>
        <li><a href="{{@contextPath}}/session">Session</a></li>
        <li><a href="{{@contextPath}}/theme">Theme</a></li>
        <li><a href="{{@contextPath}}/menu">Menu</a></li>
        <li><a href="{{@contextPath}}/file-upload">File Upload</a></li>
        <li><a href="{{@contextPath}}/helpers">Helpers</a></li>
    </ul>
{{/fillZone}}
