{{layout "org.wso2.uuf.sample.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title @config.appName " | Home"}}
{{#fillZone "content"}}
    <h2>Welcome to pet store</h2>
    <h4>your new best friend awaits</h4>
    <hr/>
    <a href="{{@contextPath}}/pets">See all our amazing pets</a>
    <br/>
    <a href="{{@contextPath}}/pets/new">Add a new pets</a>
    <br/>
    <a href="{{@contextPath}}/pets/snowball">Pet of the month</a>
{{/fillZone}}