{{secured}}
{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title (i18n "pets-store.page.pets.title") " | " (i18n "app.name")}}

{{#fillZone "content"}}
    <div class="page-header">
        <h1>{{i18n "pets-store.page.pets.heading"}}</h1>
        <p class="lead">{{i18n "pets-store.page.pets.sub-heading"}}</p>
    </div>
    <table class="table table-responsive table-striped" id="members">
        <thead>
        <tr>
            <th>#</th>
            <th>{{i18n "pets-store.page.pets.table-head.name"}}</th>
            <th>{{i18n "pets-store.page.pets.table-head.category"}}</th>
            <th>{{i18n "pets-store.page.pets.table-head.colour"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each pets}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{category}}</td>
                <td>{{color}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/fillZone}}
