{{secured}}
{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Pets | " @config.appName}}

{{#fillZone "content"}}
    <div class="page-header">
        <h1>{{t "pets-store.list"}}</h1>
        <p class="lead">{{t "pets-store.info"}}</p>
    </div>
    <table class="table table-responsive table-striped" id="members">
        <thead>
        <tr>
            <th>#</th>
            <th>{{t "pets-store.add.pet.name"}}</th>
            <th>{{t "pets-store.add.pet.category"}}</th>
            <th>{{t "pets-store.add.pet.color"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each pets}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{category}}</td>
                <td>{{color}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/fillZone}}
