<ul class="nav navbar-nav">
    {{~#menu "main"}}
        {{~#if @leaf}}
            <li>
                <a href="{{@contextPath}}{{link}}">{{#if icon}}<i class="{{icon}}"></i>{{/if}}{{text}}</a>
            </li>
        {{~else}}
            <li class="dropdown">
                <a href="{{#if link}}{{@contextPath}}{{link}}{{else}}#{{/if}}"
                   class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    {{#if icon}}<i class="{{icon}}"></i>{{/if}}{{text~}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{~#menu submenus}}
                        {{~#if @leaf}}
                            <li>
                                <a href="{{@contextPath}}{{link}}">
                                    {{#if icon}}<i class="{{icon}}"></i>{{/if}}{{text}}</a>
                            </li>
                        {{~else}}
                            <li class="dropdown-submenu">
                                <a href="{{#if link}}{{@contextPath}}{{link}}{{else}}#{{/if}}">{{text}}</a>
                                <ul class="dropdown-menu">
                                    {{#menu submenus}}
                                        <li>
                                            <a href="{{@contextPath}}{{link}}">
                                                {{#if icon}}<i class="{{icon}}"></i>{{/if}}{{text}}
                                            </a>
                                        </li>
                                    {{/menu}}
                                </ul>
                            </li>
                        {{~/if}}
                    {{~/menu}}
                </ul>
            </li>
        {{~/if}}
    {{~/menu}}
</ul>