{{layout "org.wso2.uuf.base.main"}}

{{#fillZone "content"}}
    {{css "css/pet-store.css"}}
    <div class="col-md-8">
        <h2>Pet Info</h2>
        <br />
        {{fragment "thumbnail"}}
        <br />
        <div class="pet-info">
            name : {{name}}
        </div>
    </div>
    <div class="col-md-4">
        {{fragment "org.wso2.store.ui.store-common.tags"}}
    </div>
{{/fillZone}}
