{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "Call Java Class | " @config.appName}}

{{#fillZone "content"}}
    <h3>Call a Java Class in an OSGi Bundle.</h3>
    <hr />
    <p>You can call a Java class that is exported from an OSGi bundle..</p>
    <p>Syntax : <code>var Foo = Java.type("org.wso2.carbon.bla.Foo");</code></p>
    <p>In your JS file;</p>
    <pre>
        function onGet(env) {
            var PetsStoreDAO = Java.type("org.wso2.carbon.uuf.sample.petsstore.bundle.PetsStoreDAO");
            var petsStore = new PetsStoreDAO();
            return {petData: petsStore.getPet("1234")};
        }
    </pre>
    <p>Then, you can use the return value in your Handlebars template;</p>
    <pre>
        \{{petData.id}}
        \{{petData.name}}
        \{{petData.home}}
    </pre>
    <h3>Output:</h3>
    {{petData.id}}<br/>
    {{petData.name}}<br/>
    {{petData.home}}<br/>
    <h3>Note:</h3>
    <p>Remember to import the package of the calling class in your component's pom.xml.</p>
    <pre>
        &lt;configuration&gt;
            &lt;instructions&gt;
                &lt;Import-Package&gt;org.wso2.carbon.uuf.sample.petsstore.bundle&lt;/Import-Package&gt;
            &lt;/instructions&gt;
        &lt;/configuration&gt;
    </pre>
{{/fillZone}}
