{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title @config.appName " | " @pathParams.id}}
{{#fillZone "content"}}
    {{css "css/pet-store.css"}}
    <div class="col-md-8">
        <h2>{{t "pets-store.pet.info"}}</h2>
        <br />
        {{fragment "thumbnail"}}
        <br />
        <div class="pet-info">
            {{t "pets-store.pet.name"}} : {{@pathParams.id}}
        </div>
    </div>
    <div class="col-md-4">
        {{fragment "org.wso2.carbon.uuf.sample.store-common.tags"}}
    </div>
{{/fillZone}}
