{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title @config.appName " | Home"}}
{{#fillZone "content"}}
    <h2>{{t "pets-store.welcome"}}</h2>
    <h4>{{t "pets-store.welcome.msg"}}</h4>
    <hr/>
    <a href="{{@contextPath}}/pets">{{t "pets-store.all"}}</a>
    <br/>
    <a href="{{@contextPath}}/pets/new">{{t "pets-store.add"}}</a>
    <br/>
    <a href="{{@contextPath}}/pets/snowball">{{t "pets-store.petOfTheMonth"}}</a>
{{/fillZone}}